# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
env/
venv/
.venv/

# Archivos de configuración local
.env
*.env

# Archivos de logs
*.log

# Archivos de bases de datos temporales
*.sqlite3

# Carpetas de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
